// VARIABLES
$colors: (blue-dark: rgb(64, 196, 255), blue-gray: rgb(38, 50, 56), grey-text: rgb(66, 66, 66), grey-background: rgb(250, 250, 250), gray-dark: rgb(27, 36, 47), gray-dark-overlay: rgba(27, 36, 47, 0.3), violet-red: rgb(277, 27, 109));

$nav-height: 64px;

// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;

// FUNCTIONS
@function color($color-name) {
    @return map-get($colors, $color-name);
}

// MIXINS
@mixin for-mobile-only {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin for-medium-only {
    @media (min-width: 601px) and (max-width: 992px) {
        @content;
    }
}

@mixin for-medium-up {
    @media (min-width: 601px) {
        @content;
    }
}

@mixin for-large-up {
    @media (max-width: 1201px) {
        @content;
    }
}

@mixin for-about-section-medium {
    @media (max-width: 810px) {
        @content;
    }
}

@mixin for-about-section-small {
    @media (max-width: 730px) {
        @content;
    }
}

// ANIMATIONS
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-275px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(275px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-275px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(275px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: color(grey-text);
}

nav {
    background-color: #263238;
    height: $nav-height;

    @include for-mobile-only {
        width: 100%;
        background-color: #263238;
    }

    .nav-wrapper {
        margin: 0 5rem;

        @media (min-width: 601px) and (max-width: 675px) {
            margin: 0 0.1rem;
        }

        @include for-mobile-only {
            margin: 0 1.5rem;
        }

        .brand-logo {
            margin: 0 1rem;
            font-size: 1.75rem;
            max-height: 64px;
            overflow: hidden;
            cursor: pointer;

            @include for-mobile-only {
                left: 50%;
                transform: translateX(-50%);
            }

            @media (min-width: 601px) and (max-width: 992px) {
                transform: translateX(0);
                left: 0;
            }
        }

        .nav-sections {
            li {
                padding: 0 0.5rem;

                a {
                    cursor: pointer;
                    text-transform: uppercase;
                    margin-bottom: -3px;
                    width: 100%;
                }
            }

            .active {
                border-bottom: solid 3px color(blue-dark);
            }
        }

        .slidedown,
        .slideup {
            @include for-mobile-only {
                max-height: 0;
                overflow-y: hidden;
                transition: max-height 0.8s ease-in-out;
            }
        }

        .slidedown {
            @include for-mobile-only {
                max-height: $nav-height + 215px;
            }
        }

        @include for-mobile-only {
            ul {
                position: absolute;
                top: $nav-height;
                display: flex;
                flex-direction: column;
                width: 100vw;
                margin-left: -1.5rem;
                background-color: #263238;
            }
        }
    }
}

.main-container {
    #intro {
        width: 100%;
        height: calc(100vh - #{$nav-height});
        height: calc((var(--vh, 1vh) * 100));

        .background {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(color(gray-dark-overlay), color(gray-dark-overlay)), url('/assets/img/space.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: darken(#263238, 4%);
        }

        .intro-statement {
            font-size: 2.5rem;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc((-100% + #{$nav-height})/2));
            text-align: center;
            white-space: nowrap;

            .to-projects {
                margin-top: 2rem;
                background: transparent;
                border: 1px solid #fff;
                text-transform: capitalize;
                font-size: 1.5rem;
                border-radius: 0;
                transition: 0.4s ease-in;

                &:hover {
                    border-color: #64ffda;
                    color: #64ffda;
                }

                &:before {
                    transition: top 0.2s ease-in;
                }

                &:hover span {
                    transform: rotate(90deg);
                    transition-duration: 0.3s;
                }

                span {
                    position: relative;
                    top: 5px;
                    // animate after stop hovering
                    transition-duration: 0.3s;
                }
            }

            @media (max-width: 720px) {
                font-size: 2rem;

                .to-projects {
                    font-size: 1.25rem;
                }
            }

            @media (max-width: 400px) {
                font-size: 1.25rem;

                .to-projects {
                    font-size: 1rem;
                    padding: 0 1rem;
                    margin-top: 1.5rem;

                    span {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    #about {
        min-height: 100vh;
        padding: 0 10%;
        line-height: 2rem;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        @include for-about-section-medium {
            margin: 0;
        }

        @include for-about-section-small {
            height: 100%;
            display: block;
            text-align: center;
        }

        .about-header {
            position: absolute;
            top: 0;
            opacity: 0;

            @include for-about-section-small {
                position: static;
                display: inline-block;
                margin-bottom: 3rem;
            }

            .about-title {
                font-weight: 700;
                font-size: 2.2rem;
                text-transform: capitalize;
                text-align: center;
                letter-spacing: 2px;
                padding-top: 48px;
            }
        }

        .about-main {
            font-size: 1.1rem;

            .about-description {
                padding-right: 1rem;
                opacity: 0;

                @include for-about-section-medium {
                    display: flex;
                    width: 100%;
                    text-align: center;
                }

                @include for-about-section-small {
                    display: block;
                }

                .bio-wrapper {
                    @include for-about-section-medium {
                        margin-right: 1rem;
                    }

                    @include for-about-section-small {
                        margin-right: 0;
                        margin-bottom: 2rem;
                    }

                    .bio-title {
                        font-weight: 600;
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                    }
                }

                .current-wrapper {
                    margin-top: 3rem;

                    @include for-about-section-medium {
                        margin: 0 0 3rem;
                    }

                    .current-title {
                        font-weight: 600;
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                        white-space: nowrap;
                    }
                }
            }

            .skills-description {
                padding-left: 1rem;
                opacity: 0;

                @include for-about-section-medium {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                }

                .skills-title {
                    font-weight: 600;
                    font-size: 1.5rem;
                    margin-bottom: 0.9rem;
                    white-space: nowrap;
                }

                .skills-list-col {
                    padding: 0;
                    text-align: left;

                    @include for-about-section-small {
                        font-size: 12.5px;
                        padding: 0 1rem;

                    }

                    @media (min-width: 475px) and (max-width: 811px) {
                        margin-left: 2rem;
                    }

                    .col {
                        padding: 0;

                        .skill {
                            text-align: center;
                            display: inline-block;
                            padding-right: 2rem;

                            img {
                                max-width: 64px;
                                max-height: 64px;
                                display: inline-block;

                                @include for-about-section-small {
                                    max-width: 50px;
                                    max-height: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    #projects {
        background-color: color(grey-background);
        height: 100vh;
        min-height: 100vh;
        padding: 0 10%;

        @media (min-width: 751px) and (max-width: 1380px) {
            height: 750px;

            .feature {
                height: 750px;
            }
        }

        @media (max-width: 750px) {
            height: 2000px;

            .feature {
                height: 2000px;
            }
        }

        // fix projects height for small mobile screens
        @media (max-height: 675px) and (max-width: 750px) {
            height: 1600px;

            .feature {
                height: 1600px;
            }
        }

        @media (max-height: 575px) and (max-width: 750px) {
            height: 1300px;
        }

        .projects-header {
            font-weight: 700;
            font-size: 2.2rem;
            text-transform: capitalize;
            text-align: center;
            letter-spacing: 2px;
            padding-top: 48px;
            opacity: 0;
        }

        .feature {
            padding-top: 5rem;
            height: 600px;

            @for $i from 1 through 6 {
                .feature-project {
                    .project-row {
                        .feature-img-wrapper {
                            &:nth-child(#{$i}) {
                                .feature-img {
                                    background: url('../img/projects/feature-#{$i}.png') center center/cover;
                                }
                            }
                        }

                    }
                }
            }

            .feature-project {
                height: 33vh;

                .project-row {
                    height: 100%;

                    .feature-img-wrapper {
                        width: 33%;
                        height: 80%;
                        display: inline-block;
                        padding-bottom: 1.5rem;
                        opacity: 0;

                        @media (min-width: 1381px) {
                            &:nth-child(3n+2) {
                                padding: 0 0.75rem 1.5rem;
                            }

                            &:nth-child(3n+1) {
                                padding-right: 0.75rem;
                            }

                            &:nth-child(3n+3) {
                                padding-left: 0.75rem;
                            }
                        }

                        @media (min-width: 751px) and (max-width: 1380px) {
                            width: 49%;

                            &:nth-child(2n+1) {
                                padding-right: 0.75rem;
                            }

                            &:nth-child(2n+2) {
                                padding-left: 0.75rem;
                            }
                        }

                        @media (max-width: 750px) {
                            width: 100%;
                            height: 90%;

                            padding: 0 5rem;
                        }

                        @media(max-width: 575px) {
                            padding: 0;
                            padding-bottom: 1.5rem;
                        }

                        .feature-img-container {
                            position: relative;
                            height: 100%;
                            width: 100%;
                            z-index: 2;

                            .feature-img {
                                position: relative;
                                height: 100%;
                                width: 100%;
                            }

                            .overlay {
                                z-index: 2;
                                position: absolute;
                                top: 0;
                                height: 100%;
                                width: 100%;
                                transition: all 0.75s;

                                &:hover {
                                    background-color: rgba(color(grey-background), 0.75);
                                    opacity: 1;

                                    .feature-caption {
                                        opacity: 1;

                                        button {
                                            visibility: visible !important;
                                        }
                                    }
                                }

                                .feature-caption {
                                    opacity: 0;
                                    position: static;
                                    height: 100%;
                                    transition: 0.8s;

                                    .feature-center {
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;

                                        .feature-title {
                                            font-size: 1.4rem;
                                            font-weight: 700;
                                            padding-bottom: 0.75rem;
                                            color: color(blue-gray);
                                        }

                                        .feature-text {
                                            font-size: 1.1rem;
                                            padding-bottom: 1rem;
                                        }

                                        .feature-short-desc {
                                            padding-bottom: 2rem;
                                            font-size: 1.1rem;
                                            color: color(violet-red);

                                            span {
                                                padding-right: 0.5rem;
                                            }
                                        }

                                        .feature-btn {
                                            button {
                                                visibility: hidden;

                                                i {
                                                    font-size: 1.5rem;
                                                    color: #fff;
                                                    transform: translateY(3px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }

        }

    }

    #footer {
        height: calc(100vh - #{$nav-height});
        color: darken(#fff, 10%);

        .contact {
            height: 75%;
            background-color: darken(#263238, 3%);

            .contact-header {
                font-weight: 700;
                font-size: 2.2rem;
                text-transform: capitalize;
                text-align: center;
                letter-spacing: 2px;
                padding-top: 48px;
                overflow: hidden;
                opacity: 0;
            }

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: calc(100% - 97px);
                padding-bottom: 6rem;

                .contact-caption {
                    font-size: 1.3rem;
                    line-height: 2rem;
                    text-align: center;
                    color: darken(#fff, 30%);
                    opacity: 0;
                }

                .contact-email {
                    display: block;
                    text-align: center;
                    padding-top: 6rem;

                    @media (max-height: 650px) {
                        padding-top: 2rem;
                    }

                    a {
                        color: #64ffda;
                        background-color: transparent;
                        border: 1px solid #64ffda;
                        opacity: 0;

                        &:hover {
                            background-color: rgba(lighten(#202a2f, 20%), .5);
                        }

                        &:focus {
                            background-color: rgba(lighten(#202a2f, 10%), .5);
                        }
                    }
                }
            }

        }

        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 25%;
            background-color: darken(#263238, 4%);

            .footer-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 80%;

                a {
                    color: darken(#fff, 10%);
                    margin: 0.5rem;
                    transition: all 0.2s;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        color: #64ffda;
                        transform: translateY(-2px);
                    }

                    i {
                        font-size: 2rem;
                        padding: 3px;
                    }
                }

            }

            .footer-copyright {
                height: 20%;
                color: darken(#fff, 50%);
            }
        }
    }
}

.modal {
    width: 30%;
    max-height: 100%;

    @media (max-width: 1450px) {
        width: 50%;
    }

    @media (max-width: 850px) {
        width: 75%;
    }

    @media (max-width: 500px) {
        width: 98%;
        transform: translateY(-53px) !important;
    }

    .modal-content {
        padding: 0;

        .modal-img-wrapper {
            .modal-img {
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        }

        .modal-caption {
            height: 100%;
            padding: 0 24px;

            .modal-title {
                font-size: 1.4rem;
                font-weight: 700;
                padding: 0.75rem 0;
                color: color(blue-gray);
            }

            .modal-desc {
                font-size: 1.1rem;
                padding-bottom: 1rem;
            }

            .modal-tech {
                padding-bottom: 2rem;
                font-weight: 300;
                font-size: 1.1rem;
                color: darken(color(violet-red), 15%);
                display: flex;
                flex-wrap: wrap;

                span {
                    padding-right: 0.75rem;
                }
            }

            .modal-btns {
                padding-bottom: 1rem;

                button {
                    i {
                        font-size: 1.5rem;
                        color: #fff;
                        transform: translateY(3px);
                    }
                }
            }
        }
    }

    .modal-footer {
        .modal-close {
            color: lighten(color(gray-dark), 20%);
        }

        .fa-times {
            font-size: 2rem;
        }
    }
}