// VARIABLES
$colors: (blue-light: rgb(128, 216, 255),
    blue-dark: rgb(64, 196, 255),
    blue-gray: rgb(38, 50, 56),
    gray-dark: rgb(27, 36, 47),
    gray-dark-overlay: rgba(27, 36, 47, 0.3),
    violet-red: rgb(277, 27, 109));

$nav-height: 64px;

// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;

// FUNCTIONS
@function color($color-name) {
    @return map-get($colors, $color-name);
}

// MIXINS
@mixin for-mobile-only {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin for-medium-up {
    @media (min-width: 601px) {
        @content;
    }
}

// ANIMATIONS
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

nav {
    background-color: #263238;
    height: $nav-height;

    .nav-wrapper {
        margin: 0 5rem;

        @media (min-width: 601px) and (max-width: 675px) {
            margin: 0 0.1rem;
        }

        .brand-logo {
            margin: 0 1rem;
            font-size: 1.75rem;

            @include for-mobile-only {
                left: 50%;
                transform: translateX(-50%);
            }

            @media (min-width: 601px) and (max-width: 992px) {
                transform: translateX(0);
                left: 0;
            }
        }

        .nav-sections {
            li {
                margin: 0 0.5rem;

                div {
                    cursor: pointer;
                    text-transform: uppercase;
                    padding: 0 0.75rem;
                    margin-bottom: -3px;
                }
            }

            .active {
                border-bottom: solid 3px color(blue-dark);
            }
        }
    }
}


.main-container {
    #intro {
        width: 100%;
        height: calc(100vh - #{$nav-height});

        .background {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(color(gray-dark-overlay), color(gray-dark-overlay)), url('/assets/img/space.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .intro-statement {
            font-size: 2.5rem;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc((-100% + #{$nav-height})/2));
            text-align: center;
            white-space: nowrap;

            div {
                .intro-name {
                    animation: fadeIn 2s;
                }
            }

            .to-projects {
                margin-top: 2rem;
                background: transparent;
                border: 2px solid #fff;
                text-transform: capitalize;
                font-size: 1.5rem;
                border-radius: 0;
                transition: 0.3s ease-in;

                &:hover {
                    border-color: color(blue-light);
                    color: color(blue-light);
                }

                &:before {
                    transition: top 0.2s ease-in;
                }

                &:hover span {
                    transform: rotate(90deg);
                    transition-duration: 0.3s;
                }

                span {
                    position: relative;
                    top: 5px;
                    // animate after stop hovering
                    transition-duration: 0.3s;
                }
            }

            @media (max-width: 720px) {
                font-size: 2rem;

                .to-projects {
                    font-size: 1.25rem;
                }
            }

            @media (max-width: 400px) {
                font-size: 1.25rem;

                .to-projects {
                    font-size: 1rem;
                    padding: 0 1rem;
                    margin-top: 1.5rem;

                    span {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}